.container {
    display: flex;
    height: 100vh; /* Высота контейнера равна высоте окна браузера */
}

h1,
h2,
h3,
h4,
h5,
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Стили для левой части (фильтры) */
.filters {
    flex: 1; /* Занимает всю доступную ширину контейнера */
    padding: 20px;
    background-color: #f1f1f1;
}

/* Стили для правой части (каталог) */
.catalog {
    flex: 3; /* Занимает в 3 раза больше места, чем левая часть */
    padding: 20px;
    background-color: #ffffff;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерное распределение карточек по контейнеру */
    max-width: 1200px; /* Максимальная ширина контейнера, чтобы карточки не растягивались слишком широко */
    margin: 0 auto; /* Центрирование контейнера на странице (если нужно) */
}

.product-card {
    flex-basis: calc(33.33% - 20px); /* Равномерное распределение ширины карточек в контейнере с учетом отступов */
    margin-bottom: 20px; /* Отступ между карточками (можно изменить по своему усмотрению) */
    /* Стили для карточек продуктов (размеры, цвет, рамки и т. д.) */
    border: solid;
    border-color: #d18782;
    border-width: 3px;
    border-radius: 10px;
}
.product-info{
    margin: 5px;
}

.product-card h3,
.product-card h5{
    text-align: center;
}

.button-product{
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
}
